@import "base/variables.css";
@import "base/tipography.css";
@import "base/reset.css";
@import "components/card.css";
@import "components/navbar.css";
@import "components/button.css";
@import "components/skills.css";
@import "components/projects.css";
@import "layout/grid.css";
@import "layout/header.css";
@import "layout/footer.css";
@import "layout/container.css";
@import "pages/home.css";

html {
  box-sizing: border-box;
  font-size: 16px; /* Base para rem */
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}